mixin button(href, label) 
	a.button(href=href)=label

mixin card(image, title, desc) 
	.card-container 
		.top 
			img(src=image)
			h3=title
			p=desc 
		.bottom
			+button('#', 'Register Now')


mixin textbox() 
	.textbox-container 
		input(type="email", placeholder="Enter your email address")
		input(type="submit")

mixin lineContact(title, lineId) 
	.line-contact-container
		h4=title
		.line-id-container
			img(src="../assets/icons/line.png", alt="Line Logo")
			p=lineId

mixin icon(iconPath, value)
	.icon 
		img(src=iconPath)
		p=value


html 
	head 
		meta(charset="UTF-i")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Design 1
		link(rel="stylesheet", href="../public/output.css")
	body 

		nav#home
			img.himti-logo(src="../assets/himtiLogo.png")
			ul
				li 
					a.navbar-item(href="#") Home
				li 
					a.navbar-item(href="#events") Events
				li 
					a.navbar-item(href="#about-us") About Us
				li 
					a.navbar-item(href="#	contact-us") Contact Us

			.menu-toggle 
				input(type="checkbox").checkbox
				span
				span
				span

				
			
		section#hero
			.left 
				h1 HIMTI STUDY TOUR
				+button('#events', 'Learn More')
			.right 
				img.hero-image(src="../assets/hero.png")
		section#events 
			h1 EVENTS 
			.cards-container
				+card('../assets/cards/google.png', 'Google Indonesia', 'Google LLC is an American multinational technology company focusing on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence, and consumer electronics.')
				+card('../assets/cards/tokped.png', 'Tokopedia Indonesia', 'PT Tokopedia is an Indonesian e-commerce company. Tokopedia is a subsidiary of a new holding company called GoTo, following a merger with Gojek on 17 May 2021. It is one of the most visited e-commerce platforms in Indonesia. ')
				+card('../assets/cards/apple.png', 'Apple Indonesia', 'Apple Inc. is an American multinational technology company headquartered in Cupertino, California, United States. Apple is the largest technology company by revenue and, as of June 2022, is the world\'s biggest company by market capitalization.')
		section#about-us 
			h1 ABOUT US 
			.container 
				.left 
					img(src="../assets/himtiBinusLogo.png")
				.right 
					p Himpunanan Mahasiswa Teknik Informatika (HIMTI) Universitas Bina Nusantara adalah Organisasi Kemahasiswaan di Universitas Bina Nusantara yang berbentuk Himpunan Mahasiswa Jurusan (HMJ) untuk mahasiswa School of Computer Science (SOCS), BINUS UNIVERSITY.
		section#contact-us 
			h2 CONTACT US 
			p let us know anything you want! 
			+textbox()
			.contacts-container 
				h4 CONTACT PERSON
				.line-contacts
					+lineContact('HTML CSS', '@idline')
					+lineContact('HTML CSS', '@ofoghimti2023')
		section#footer 
			.footer-container
				.left 
					img(src="../assets/himtiBinusLogo.png", alt="Himti Binus Logo")
					img(src="../assets/binusLogo.png", alt="Binus Logo")
				.right 
					.footer-contacts
						+icon('../assets/icons/instagram.png', '@himti_binus')
						+icon('../assets/icons/youtube.png', 'HIMTI BINUS')
						+icon('../assets/icons/tiktok.png', '@himtibinus')
						
			.copyright
				p © Copyright 2023 HIMTI BINUS University.	
		
		script(src="../src/script.js") 
